*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #82ada9;
}
/*Cuadro*/
.cuadro{
background: #f7f7f7;
width:450px;
margin: 170px 80px;
padding: 10px 30px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-o-border-radius: 5px;
-ms-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: inset 0px -8px 5px 0px rgba(196,196,196,1);
-moz-box-shadow: inset 0px -8px 5px 0px rgba(196,196,196,1);
box-shadow: inset 0px -8px 5px 0px rgba(196,196,196,1);
}
/*Boton*/
input[type="button"] {
background-color: #42c981;
border: none; cursor: pointer; color: #fff;
font-size: 24px;
padding: 5px 36px 8px 36px;
margin-top: 10px;
margin-left: 29px;
-webkit-box-shadow: inset 0px -5px 5px 0px rgba(53,161,105,1);
-moz-box-shadow: inset 0px -5px 5px 0px rgba(53,161,105,1);
box-shadow: inset 0px -5px 5px 0px rgba(53,161,105,1);

}
input[type="button"]:hover {
background-color: #323d37;
-webkit-box-shadow: inset 0px -5px 5px 0px rgba(39,48,44,1);
-moz-box-shadow: inset 0px -5px 5px 0px rgba(39,48,44,1);
box-shadow: inset 0px -5px 5px 0px rgba(39,48,44,1);
}



input[type="text"] {
width: 360px;
margin-left: 30px;
margin-top: 5px;
}
textarea {
width: 600px;
height: 275px;
}
label {
color: #ff5400;
}
input,
textarea,
select {
background-color: rgba(255, 255, 255, 0.4);
border: 5px solid rgba(122, 192, 0, 0.15);
padding: 10px;
font-family: 'Keffeesatz', Arial;
color: #4b4b4b;
font-size: 24px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-o-border-radius: 5px;
-ms-border-radius: 5px;
border-radius: 5px;
margin-bottom: 15px;
margin-top: -10px;
}
input:focus,
textarea:focus,
select:focus {
background-color: rgba(255,255,255,1);
border: 4px solid #397053;
}
/*titulo*/
.titulo{
	font-family: Verdana;
	margin-top: 10px;
	text-align: center;

}
/*Cuadro Dos*/
.cuadro_dos{
background: #f7f7f7;
width:450px;
margin: -593px 53%;
padding: 10px 30px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-o-border-radius: 5px;
-ms-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: inset 0px -8px 5px 0px rgba(196,196,196,1);
-moz-box-shadow: inset 0px -8px 5px 0px rgba(196,196,196,1);
box-shadow: inset 0px -8px 5px 0px rgba(196,196,196,1);
}
.titulo_dos{
		text-align: center;
}
.datos{
	text-align: center;
	font-family: Verdana;
	
}
